<% include ../includes/head %>
</head>

<body>
    <% include ../includes/navigation %>
    <main>
        <h1> You are on the editing vote </h1>
    </main>
    <% include ../includes/footer %>
</body>

</html>