<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Créer un sujet de vote</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div id="error"> </div>

        <form id="voteForm" method="POST">
          <input type="hidden" id="userId" name="userId" value="<%= currentUserId %>">
          <input type="hidden" id="tokenAdd" name="_csrf" value="<%= csrfToken %>">
            <div class="modal-body">
              <div class="form-group">
                <label for="visibility">Visibilité</label>
                <select name="visibility" id="visibility" class="form-control">
                  <option value="public"> Public </option>
                  <option value="private"> Privé </option>
                </select>
              </div>
              <div class="form-group">
                  <label for="sujet">Sujet</label>
                  <input type="text" class="form-control" id="sujet" aria-describedby="sujet">
              </div>
              <div class="form-group">
                  <label for="sujet">Nombre de participant</label>
                  <input type="number" class="form-control" id="participant" min="2" value="2">
              </div>
              <div class="form-group">
                  <div class="form-group">
                    <div class="text-center mb-3">
                      <button type="button" id="btnAddLigne" class="btn btn-outline-secondary">Cliquez pour ajouter un choix</button>
                    </div>
                    <div id="choiceContainer"></div>
                  </div>                    
              </div>
            </div>
            <div class="modal-footer">
                <button id="voteCreation" type="submit" class="btn btn-primary">Créer</button>
            </div>
        </form>
      </div>
    </div>
  </div>