<br/>
<div class="card">
    <div class="card-body">
        <p class="text-center text-muted">© Copyright 2020 - Team Simplon</p>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/script.js"></script>
