<% include ../includes/head %>
    </head>
    <body>
        <% include ../includes/navigation %>
        <main>
            <h1> Succcesfully connected </h1>
        </main>
        <% include ../includes/footer %>
    </body>
</html>