<% include ../includes/head %>
</head>

<body>
    <% include ../includes/navigation %>
    <main>
        <h1> You are on the finished vote list </h1>
    </main>
    <% include ../includes/footer %>
    <% include ../includes/modals %>
    <script src="/js/script.js"></script>
</body>

</html>