<% include ../includes/head %>
</head>

<body>
    <% include ../includes/navigation %>
    <main>
            <div class="jumbotron">
                <h1>Résultats</h1>
                <h5><%= subject %></h5>
                <% resultat.forEach(element =>{ %>
                <p> le choix : <%= element.choix %> (<%= Math.round(100*(element.nbvote/totaloptions)) %> %)</p>
                <% }) %>
            </div>
    </main>
    <% include ../includes/footer %>
    <% include ../includes/modals %>
    <script src="/js/script.js"></script>
</body>

</html>